<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics in the database</title>
    <link href="{{ url_for('static',path='/styles.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header class="header-element">
    <div class="admin-login">
        <button class="btn btn-online-primary" onclick="{{ url_for('admin') }}" type="button">
            Admin Login
        </button>
    </div>
    <div class="top-wrap">
        <a class="logo-link" href="https://www.uu.se" title="Uppsala universitets startsida">
            <img alt="Uppsala university" class="logo" src="{{ url_for('static', path='pictures/svg-uu-logo.svg') }}"/>
        </a>
        <span class="project-name">Canon and Concert life in Stockholm</span>
    </div>
</header>

<div class="content">
    <div class="l-article-wrap">
        <ul class="navbar">
            <li><a href="{{ url_for('about') }}">The Project</a></li>
            <li><a href="{{ url_for('statistics') }}">Statistics</a></li>
            <li><a href="{{ url_for('links') }}">Links</a></li>
        </ul>
    </div>
    <div class="main-content">
        <H3> The Statistics of the database</H3>
    </div>
</div>
</body>
</html>
